.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

.text-white {
    background-color: blueviolet;
    width: 50px;
}

.search-box {
    z-index: 3;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex;
    /* margin-bottom: 2.25rem; */
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
    border-radius: 30px;
}

.blockinfo-table {
    display: flex;
}

.search-input {
    /* position: fixed; */
    padding-left: 20px;
    width: 50rem;
    height: 3.4rem;
    margin-right: 2px;
    font-size: medium;
}
.icon-box {
    background-color: #569ce7;
    margin-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
}
.search-icon {
    width: 3rem;
    height: 3rem;
}
.icon-box:hover {
    transform:scale(1.1);
}
.suggestion-box {
    position: relative;
    left: -1.5%;
    /* border: 1px solid black; */
    /* background-color: lightgray; */
    margin-bottom: 2.25rem;
    padding: 0.8rem;
    width: 50%;
}
.suggestion-inner {
    /* display: flex; */
    /* flex-direction: row; */
}
.sug-row {
    /* background-color: aqua; */
    /* align-items: center; */
    font-size: 1.25rem;
    /* font-size: 1.25vw; */
}
.sug-col {
    font-size: 1.125rem;
    /* font-size: 1vw; */
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
    border: 1px solid black;
    height: 30px;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.num:hover+.hash{

}

.sug-row:hover .sug-col{
    font-weight: 600;
    font-size: 1.25rem;
}

.sug-col-header {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    background-color: lightgray;
    border: 1px solid black;
    height: 30px;
    border-left: none;
    border-right: none;
}

.search-td {
    cursor: pointer;
}
.search-td:hover {
    transform: scale(1.03);
}
.block-table {
    display: flex;
}
.block-table-header {
    text-decoration: underline;
    font-size: 1.875rem;
    font-weight: bolder;
}

.block-content {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: 1.06rem;
    /* font-weight: bold; */
    /* color: #0092ff; */
    margin-bottom: .1875rem;
}

.block-content-header {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0092ff;
    margin-bottom: .1875rem;
}

.profile-row {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.profile-description {
    text-align: center;
}

.profile-label {
    text-decoration: underline;
    font-weight: bolder;
}

.profile-btn {
    position: absolute;
    margin-top: 20px;
    right: 39%;
}

.main-icon {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 80px;
    cursor: pointer;
    border-radius: 100%;
}

.main-icon:hover {
    transform: scale(1.08);
}

.search-td-hash {
    margin-left: 20px;
    cursor: pointer;
}

.search-td-hash:hover {
    transform: scale(1.03);
}

.transaction-table {
    display: flex;
}
.mining-btn {
    position: absolute;
    left: 20%;
    top: 1%;
    width: 1000px;
    height: 100px;
    font-size: 40px;
}